/*             Hi, my name is sanjay kumar singh chauhan, I am doing my bachelor in technology from AKTU lucknow utter perdesh india and my specialization computer sciennce and engineering. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
}

.web{
    text-align: center;
    padding: 10px 10px;
}

.contact-about{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:100px;   
}

.about{
    padding-top: 300px;
}

.contact{
    margin-top: 20px;
    margin-bottom: 340px;
    padding-left: 20px;
}
.contact h2{
    padding-left: 20px;
}

.contact a i{
    padding-left: 20px;
    margin-top: 10px;
}



.verticle-line{
    position: relative;
    width: 1px;
    height: 500px;
    background: black;
    margin-top: 10px;
    margin-left: 290px;
}

.skills{
    margin-top: 20px;
    padding-left: 20px;
}
.skills h2{
    padding-left: 20px;
}

.skills h4{
    margin-top: 10px;
}

.education{
    margin-top: 20px;
}
.education p{
    padding-left: 20px;
    margin-top: 10px;
}
 ab{
    margin-bottom: 200px;
}

.about{
    margin-bottom: 600px;
}
.about h2{
    padding-left: 20px;
}
.about .about-b P{
    margin-top: 10px;
    padding-left: 20px;
}

.workexp{
    padding-left: 20px;
    margin-top: 20px;
}

.workexp p{
    padding-left: 20px;
    margin-top: 10px;
}

.jobe{
    padding-left: 20px;
    margin: 20px;
}

.jobe p{
    padding-left: 20px;
    margin-top: 20px;
}